.code-container {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.code-example {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 680px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.help-section {
    background-color: #EEE;
    padding: 4px;
}

details {
    border: 0px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {

    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

ul.no-bullets {
    list-style-type: none;
    margin: 8px;
    padding: 0;
}

pre {
    background-color: #eee;
    padding:8px;
    margin: 8px;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.firstItem {

}

#page-content {
    margin-top: 48px;
}
/* highkight anchor */
.highlight {
    background-color: yellow; /* Highlight color */
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.header-menu {
    position: fixed;
    top: 0px;
    width: 100%;
}
