.code-container {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.code-example {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 680px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.help-section {
    background-color: #EEE;
    padding: 4px;
}

details {
    border: 0px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {

    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

ul.no-bullets {
    list-style-type: none;
    margin: 8px;
    padding: 0;
}

pre {
    background-color: #eee;
    padding:8px;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.firstItem {
    margin-top: 48px;
}
/* Style the navigation bar */
.navbar {

    background-color: #333;
    position: fixed;
    top:0px;
    width: 100%;

}

/* Navigation links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit; /* Same as navbar */
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Prevent margin collapse */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* highkight anchor */
.highlight {
    background-color: yellow; /* Highlight color */
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


